.date-and-query-range-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  min-width: 280px;
  max-width: 284px;
  margin-right: 10px;
}

.slider-date-picker-container {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  position: relative;

  :popover-open {
    all: initial; /* Or selectively override */
    position: absolute;
    top: 50px;
    left: 100px;
  }

}

.query-range-select {
  padding-top: 11px !important;
  height: 44px;
  width: 89px;
  box-sizing: border-box;
  justify-content: center;
  align-self: center;
  margin: 0 !important;

  > div {
    font-size: 14px !important;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
}
.slider-date-picker-group {
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding-block: 0 0;
  box-sizing: border-box;
  height: 56px;
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;

  > legend {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 12.9px;
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover {
    border: 1px solid var(--primary-color);
  }

  button {
    margin: 0 2px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    width: 24px;
    min-width: 24px;
    height: 34px;

    svg {
      margin-top: 0;
      width: 12px;
      height: 12px;
    }

    &:hover {
      color: #000;
    }
  }
}

.slider-date-picker {
  z-index: 10000;;
  --background-color: #fff;
  right: 310px;
  bottom: 100px;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 2px;
  outline: none;
  min-width: fit-content;
  max-width: 204px;
  transition: transform .2s,opacity .2s;
  box-shadow: 0 8px 20px #0000001a;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;;
  top: unset !important;
  left: unset !important;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    button {
      min-width: 44px;
    }

  }

  section {
    max-height: inherit;
    box-sizing: border-box;
    outline: none;
    padding: 18px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  td > div {
    text-align: center;
    cursor: default;
    border-radius: 2px;
    outline: none;
    width: 20px;
    height: 20px;
    margin: 1px;
    line-height: 20px;
  }

  button {
    border: none;
    background: transparent;
    padding: 0%;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: #1976d2;
    }
  }

  .default-date {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;

    svg {
      width: 12px;
      height: 12px;
      color: #1976d2;
    }
  }
}
