/* .slider-control-panel {
  height: 100%;
  min-width:456px;
  max-width: 460px;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2fr 1fr;

  > * {
    margin-right: 5px;
  }

  &.animate {
    flex-grow: 2;
  } */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 10px solid aliceblue;;
  border-right: 10px solid aliceblue;;
  max-width: fit-content;
  height: 100%;
  font-size: 13px;
  color: #555;

  svg {
    margin: 3px 0 0;
    align-self: center;
    color: #555;
  }

  .range-date-label {
    font-size: 10px;
    color: #555;
    align-self: flex-start;
  } */

/* } */

.animate-container, .playback-nav-controls {
  width: 162px;
  box-sizing: border-box;
}

.animate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.date-and-query-range-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  min-width: 280px;
  max-width: 284px;
  margin-right: 10px;
}

.slider-date-picker-container {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  position: relative;

  :popover-open {
    all: initial; /* Or selectively override */
    position: absolute;
    top: 50px;
    left: 100px;
  }
}

.query-range-select {
  padding-top: 11px !important;
  height: 44px;
  width: 89px;
  box-sizing: border-box;
  justify-content: center;
  align-self: center;
  margin: 0 !important;

  > div {
    font-size: 14px !important;
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.playback-section {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;

  > * {
    padding: 2px 6px 0;
  }

  /* > .playback-switch {
    height: 32px;
    width: 32px;
  } */
   .playback-tabs {
     top: 0;
     height: 100%;
     box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
     padding-right: 0 !important;

     > div {
      height: 24px;
      display: flex;
      align-items: center;
     }

     button {
       min-height: 24px;
       max-height: 26px;
       font-size: 11px;
       padding-bottom: 16px !important;

       span {
         line-height: 1.5;
       }
     }
   }

  .playback-nav-controls {
    display: flex;
    justify-content: center;
    gap: 7px;

    button {
      padding: 0;
      cursor: pointer;
      width: 44px;
      min-width: 34px;
      height: 34px;

      svg {
        margin-top: 0;
        transform: scale(1.4);
      }
    }
  }
}


/* Update to work with grid */
.date-calendar-and-switch-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-date-picker-group {
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  padding-block: 0 0;
  box-sizing: border-box;
  height: 56px;
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;

  > legend {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 12.9px;
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover {
    border: 1px solid #1976d2;
  }

  button {
    margin: 0 2px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    color: #555;
    width: 24px;
    min-width: 24px;
    height: 34px;

    svg {
      margin-top: 0;
      width: 12px;
      height: 12px;
    }

    &:hover {
      color: #000;
    }
  }
}

/* Update to work with grid */
.range-selection-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 5px;
  padding: 9px 10px 8px;
  width: 100%;
  box-sizing: border-box;

  span, label {
    font-size: 11px;
    color: #555;
    margin-right: 5px;
  }

  select {
    font-size: 12px;
    color: #555;
  }

  button {
    border: 1px solid #1976d2;
    border-radius: 2px;
    background: transparent;
    padding: 10px;
    cursor: pointer;

    svg {
      color: #1976d2;
      transform: scale(1.7);
    }

    &:nth-child(2) {
      margin-right: 3px;
      margin-left: 4px
    }

    &:hover {
      border: 1px solid #1976d2;
      background: #1976d2;
      svg {
        color: #fff;
      }
    }
  }
}

.slider-date-picker {
  z-index: 10000;;
  --background-color: #fff;
  right: 310px;
  bottom: 100px;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 2px;
  outline: none;
  min-width: fit-content;
  max-width: 204px;
  transition: transform .2s,opacity .2s;
  box-shadow: 0 8px 20px #0000001a;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    button {
      min-width: 44px;
    }
  }

  section {
    max-height: inherit;
    box-sizing: border-box;
    outline: none;
    padding: 30px;
    overflow: auto;
  }

  td > div {
    text-align: center;
    cursor: default;
    border-radius: 2px;
    outline: none;
    width: 20px;
    height: 20px;
    margin: 1px;
    line-height: 20px;
  }

  button {
    border: none;
    background: transparent;
    padding: 0%;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: #1976d2;
    }
  }
}
