.speed-indicator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

}

.speed-indicator {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;

  .speed-indicator-select {
    width: 90px;
    margin: 0 2px;

    > div {
      font-size: 11px;

      >:first-child {
        padding-bottom: 3px;
      }
    }
  }

  > label {
    padding: 3px;
  }

  >label:first-child {
    font-weight: 600;
    font-size: 14px;
    width: fit-content;

    &.enabled {
      color: var(--text-color);
    }
  }

  > * {
    border: none;
  }
}
