.speed-indicator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

}

.speed-indicator {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #555;
  width: 100%;

  >label:first-child {
    font-weight: 600;
    margin-right: 10px;
    background-color: #888;
    color: white;
    width: fit-content;
    padding: 0 4px 0 3px;
  }

  > * {
    border: none;
  }
}
