.time-range-slider {
  height: 90px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  bottom: 0;
  left: 0;
  > div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.month-header {
  margin-left: 4px;
  font-size: 14px;
  color: #555;
  min-height: 20px;
}

.next-prev-date-range {
  height: 100%;
  border: 1px solid white;
  padding: 0 20px;
  color: #fff;

  svg {
    color: #1976d2;
    transform: scale(1.7);
  }
}

.horizontal-calendar-grid-body {
  overflow: clip;
  display: flex;
  flex-direction: row;
  overflow-x: clip;
  overflow-y: hidden;
  width: 100%;
  border-collapse: collapse;
  td {
    /* display: flex;
    justify-content: end;
    flex-direction: row; */
    vertical-align: bottom;
    padding: 0;
    margin: 0;
  }
}

.bottom-calendar-container {
  margin-bottom: 80px;
}
