
.time-range-slider {
  background: var(--background-color);
  color: var(--text-color);
  z-index: 100;
  height: 76px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: content-box;
  font-family: var(--font-family-secondary);
  bottom: 0;
  left: 0;

  /* Enhanced top and bottom shadow for separation */
  box-shadow: 0 -2px 8px rgba(0,0,0,0.12), 0 2px 16px rgba(0,0,0,0.18);

  > div {
    display: flex;
    align-items: center;
  }
}

.month-header {
  margin-left: 4px;
  font-size: 14px;
  color: var(--text-color);
  min-height: 20px;
}

.next-prev-date-range {
  height: 100%;
  border: 1px solid var(--background-color);
  padding: 0 10px;
  color: var(--text-color-inverse);
  background-color: var(--surface-color-alt);
  border: 1px solid var(--border-color-alt);
  border-radius: 2px;

  svg {
    color: var(--primary-color);
    transform: scale(1.7);
  }
}

.horizontal-calendar-grid-body {
  overflow: clip;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: clip;
  overflow-y: hidden;
  border-collapse: collapse;
  td {
    /* display: flex;
    justify-content: end;
    flex-direction: row; */
    vertical-align: bottom;
    padding: 0;
    margin: 0;
  }
}

.bottom-calendar-container {
  margin-bottom: 80px;
}

.hour-marks, .minute-marks {
  font-size: 11px;
  display: flex;
  align-items: right;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-overflow: unset;
}

.hour-marks {
  font-size: 14px;
  font-weight: bold;
}
