.time-range-slider {
  height: 60px;
  background-color: black;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  bottom: 0;
  left: 0;
}

.next-prev-date-range {
  height: 100%;
  border: 1px solid white;
  padding: 0 20px;
}
