.time-range-slider {
  height: 60px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  bottom: 0;
  left: 0;
}

.next-prev-date-range {
  height: 100%;
  border: 1px solid white;
  padding: 0 20px;
}

.horizontal-calendar-grid-body {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.horizontal-day-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px; /* Adjust as needed */
}

.bottom-calendar-container {
  margin-bottom: 80px;
}
